
body{
    display: flex;
    flex-direction: column;
    gap:20px;
}

#boxContainer{
width:800px;
height:800px;
border:solid black 2px;
margin-inline:auto;
display: grid;
}

#increaseBtn, #decreaseBtn{
    font-size:20px;
}

#pixelCount{
    font-size:20px;
    margin: 0;
}


.buttonRow{
display: flex;
justify-content: space-around;
}

.createdBoxes{
    transition: ease-out 5s;
    border:1px solid black;
    background-color: white;
}

.createdBoxes:hover{
    background-color: red;
    transition: ease-in 0s;


}

.createdBoxes:active{
    background-color: black;
}