
#boxContainer{
width:800px;
height:800px;
border:solid black 2px;
margin-inline:auto;
display: grid;
}

#sixteenBtn{
    font-size:20px;
}


.createdBoxes{
    transition: ease-out 2s;

}

.createdBoxes:hover{
    background-color: red;
    transition: ease-in 0s;


}

.createdBoxes:active{
    background-color: black;
}