body{
    display: flex;
    flex-direction: column;
    gap:20px;
}

#boxContainer{
width:800px;
height:800px;
border:solid black 2px;
margin-inline:auto;
display: grid;
grid-template-columns: repeat(16,1fr);
}

#sixteenBtn{
    font-size:20px;
}

.buttonRow{
display: flex;
justify-content: center;
}

.createdBoxes{
    transition: ease-out 2s;

}

.createdBoxes:hover{
    background-color: red;
    transition: ease-in 0s;


}

.createdBoxes:active{
    background-color: black;
}